/* Write your CSS here */
.destination-item-container {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 1.5rem;
  width: 85vw;
}

.destination-item-image {
  width: 100%;
  border-radius: 0.4rem;
}

.destination-item-name {
  font-family: 'Open Sans';
  font-size: 1rem;
}

@media (min-width: 768px) {
  .destination-item-container {
    width: 20vw;
  }
}
